@font-face {
    font-family: "Bebas Neue";
    src: url("../assets/fonts/BebasNeue.woff2") format("woff2"),
        url("../assets/fonts/BebasNeue.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Bebas Neue";
    src: url("../assets/fonts/BebasNeue-Regular.woff2") format("woff2"),
        url("../assets/fonts/BebasNeue-Regular.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

/* @font-face {
    font-family: "Montserrat";
    src: url("../assets/fonts/Montserrat-Bold.woff2") format("woff2"),
        url("../assets/fonts/Montserrat-Bold.woff") format("woff");
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Montserrat";
    src: url("../assets/fonts/Montserrat-ExtraBold.woff2") format("woff2"),
        url("../assets/fonts/Montserrat-ExtraBold.woff") format("woff");
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Montserrat";
    src: url("../assets/fonts/Montserrat-Medium.woff2") format("woff2"),
        url("../assets/fonts/Montserrat-Medium.woff") format("woff");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Montserrat";
    src: url("../assets/fonts/Montserrat-MediumItalic.woff2") format("woff2"),
        url("../assets/fonts/Montserrat-MediumItalic.woff") format("woff");
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "Montserrat";
    src: url("../assets/fonts/Montserrat-Regular.woff2") format("woff2"),
        url("../assets/fonts/Montserrat-Regular.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Montserrat";
    src: url("../assets/fonts/Montserrat-SemiBoldItalic.woff2") format("woff2"),
        url("../assets/fonts/Montserrat-SemiBoldItalic.woff") format("woff");
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}
*/

@font-face {
    font-family: "EmojiOne";
    src: url("../assets/fonts/EmojiOneColor.woff2") format("woff2"),
        url("../assets/fonts/EmojiOneColor.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Poppins";
    src: url("../assets/fonts/Poppins-Black.woff2") format("woff2"),
        url("../assets/fonts/Poppins-Black.woff") format("woff");
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Poppins";
    src: url("../assets/fonts/Poppins-Bold.woff2") format("woff2"),
        url("../assets/fonts/Poppins-Bold.woff") format("woff");
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Myriad Pro";
    src: url("../assets/fonts/MyriadPro-Bold.woff2") format("woff2"),
        url("../assets/fonts/MyriadPro-Bold.woff") format("woff");
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Poppins";
    src: url("../assets/fonts/Poppins-ExtraBold.woff2") format("woff2"),
        url("../assets/fonts/Poppins-ExtraBold.woff") format("woff");
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Poppins";
    src: url("../assets/fonts/Poppins-SemiBold.woff2") format("woff2"),
        url("../assets/fonts/Poppins-SemiBold.woff") format("woff");
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Poppins";
    src: url("../assets/fonts/Poppins-Medium.woff2") format("woff2"),
        url("../assets/fonts/Poppins-Medium.woff") format("woff");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}
