@import "../../../../vendor/filament/filament/resources/css/theme.css";

@source '../../../../app/Filament/**/*';
@source '../../../../resources/views/filament/**/*';

@source '../../../../vendor/jaocero/radio-deck/resources/views';
@source '../../../../vendor/solution-forest/filament-panzoom/resources/views/**/*.blade.php';
@source '../../../../vendor/cmsmaxinc/filament-error-pages/resources/**/*.blade.php';
@source '../../../../vendor/gboquizosanchez/filament-log-viewer/resources/views/**/*.blade.php';
@import "../../../../vendor/pxlrbt/filament-activity-log/resources/css/styles.css";
